:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --clr-neutral-light-hsl: 0 0% 95%;
    --clr-neutral-100-hsl: 0 0% 90%;
    --clr-neutral-200-hsl: 0 0% 80%;
    --clr-neutral-300-hsl: 0 0% 30%;
    --clr-neutral-500-hsl: 0 0% 16%;
    --clr-neutral-700-hsl: 0 0% 10%;
    --clr-neutral-dark-hsl: 0 0% 5%;

    --clr-neutral-light: hsl(var(--clr-neutral-light-hsl));
    --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
    --clr-neutral-200: hsl(var(--clr-neutral-200-hsl));
    --clr-neutral-300: hsl(var(--clr-neutral-300-hsl));
    --clr-neutral-500: hsl(var(--clr-neutral-500-hsl));
    --clr-neutral-700: hsl(var(--clr-neutral-700-hsl));
    --clr-neutral-dark: hsl(var(--clr-neutral-dark-hsl));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-100);
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    &.dark {
        background-image: none;
    }
}


.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-block: 5em;
}

button {
    cursor: pointer;
    padding-inline: 1.5em;
    border-radius: 5px;
    height: 70px;
    border: 1px solid white;
    transition: scale 0.1s;
    background-color: transparent;
    color: white;

    font-size: 20px;
   

    &:active {
        scale: 0.95;
    }

}

h1 {
    text-align: center;
    font-size: 1.3em;
}
